// Loading screen while loading the application (resources and initialization)
@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html, body {
    height: 100%;
    margin: 0;
}

body.launching {
    @include background-size(cover);
    background-color: $auth-background-color;
    background-image: $auth-background-image;
    background-position: center;

    &::before {
        animation: rotate-animation 1s linear infinite;
        @include transform-origin(50% 50%);
        @include background-size(cover);
        background-image: url(get-resource-path('images/loading.png'));
        background-position: center;
        content: '';
        position: absolute;
        margin-top: -15px;
        margin-left: -15px;
        top: 50%;
        left: 50%;
        width: 41px;
        height: 41px;
    }
}